.plan__change{
  position: relative;
  width: 174px;
  height: 24px;
}
.plan__input{
  width: 100%;
  height: 24px;

  border: 1px solid #27496c;
  outline: none;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #1b16b4;

  &:focus{
    border-left: 3px solid #0C31F1;
  }
}