.welcome__wrapper{
  margin: 0 auto;
  padding: 20px 100px 50px 100px;

  background-color: #FFFFFF;
  box-shadow: 0 2px 6px rgba(38, 44, 64, 0.15);
  border-radius: 2px;
}
.welcome__header{
  text-align: center;
  font-size: 36px;
  padding-top: 50px;
}
.welcome__desc{
  display: block;
  margin: 20px auto;
  max-width: 650px;

  text-align: center;
  font-size: 16px;
}
